# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Arquivos de execução temporários
*.log
*.tmp

# Ambientes virtuais
venv/
.env/
.venv/
